.home-main-wrapper {
    display: grid;
    justify-content: center;

    .current-status-title {
        margin-top: var(--large-spacing);
    }

    .update-status-title {
        margin-top: var(--very-large-spacing);
    }
    
    .update-status-dropdown {
        margin-top: var(--large-spacing);
    }

    hr {
        margin-top: var(--large-spacing);
    }

    .employee-status {
        margin-top: var(--large-spacing);
    }

}